[submodule "client"]
  path = client
  url = https://github.com/Andy2020lv/PortfolioWebsite/client.git

[submodule "server"]
  path = server
  url = https://github.com/Andy2020lv/PortfolioWebsite/server.git