#root {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 40em) {
  body {
    padding: 0;
  }
}
.container-fluid {
  padding: 0;
  background-color: #02aab0;
}

.title {
  font-weight: 800;
}

/*////////////////////// Navbar //////////////////////////////*/

/* .navbar-container {
  display: flex;
} */

.navbar-container {
  padding-top: 2rem;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  border: 0.5rem solid;
  padding: 10px 20px;
  color: #fefcf3;
  font-weight: 900;

  /* margin: 1rem 0.5rem; */
  border-color: white;
  border-width: 3px;
}

nav a:hover {
  background-color: #fefcf3;
  color: #02aab0;
}

nav ul > li {
  margin: 10px 0;
  display: inline-block;
}

@media (min-width: 40em) {
  .navbar-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  nav ul {
    display: inline-block;
    box-shadow: 10px 2px 5px hsl(182, 63%, 38%);
  }
}
/* /////////////// Homepage /////////////////////// */
.presentation {
  height: 50vh;
  /* min-height: 60vh; */
  margin: 6rem 1rem;
}

.presentation strong {
  color: white;
  font-weight: 900;
}

.icons i {
  font-size: 2rem;
  color: white;
  margin: 1rem;
  /* color: white; */
}

@media (min-width: 40em) {
  .presentation {
    margin: 14rem 8rem;
    height: 60vh;
  }
  .presentation h1 {
    font-size: 4rem;
  }

  .icons i {
    font-size: 3rem;
  }
}

/* ///////////////// Skills //////////////// */

.skills {
  color: black;
  background-color: white;
  text-align: center;
  padding-top: 6rem;
}

.skills-elements {
  text-align: left;
  margin-top: 2rem;
  padding: 1rem;
}

.skills-elements h5 {
  margin-bottom: 4rem;
  margin-top: 3rem;
  font-weight: 700;
}

.skill {
  display: flex;
  align-items: flex-end;
  margin: 1rem 0;
}
.skill img {
  height: 3rem;
  margin-right: 0.5rem;
}

@media (min-width: 40em) {
  .skills {
    height: 80vh;
  }
  .skills-elements {
    padding: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}
/* ///////////////// Projects ///////////////// */

.projects {
  background-color: #02aab0;
  text-align: center;
  padding: 6rem 0;
  color: white;
}

.projects .project-title {
  font-weight: 700;
}

.project-info {
  margin-bottom: 3rem;
}
.project-info p {
  margin-bottom: 2rem;
  padding: 1rem;
}

.project-element {
  padding-top: 2rem;
  text-align: center;
}

.tech {
  border: 2rem solid;
  border-color: black;
  border-width: 2px;
  max-width: 7rem;
  min-width: 3rem;
  background-color: grey;
  margin: 05px;
  font-weight: 700;
  color: white;
  font-size: 12px;
  padding: 0.1rem;
}

.tech-stack {
  display: flex;
  justify-content: center;
}

.button {
  text-decoration: none;
  border: 0.5rem solid;
  padding: 10px 20px;
  color: #fefcf3;
  font-weight: 900;
  background-color: #02aab0;

  border-color: white;
  border-width: 3px;
}

.button:hover {
  background-color: #fefcf3;
  color: #02aab0;
}

.project-image {
  width: 90%;
  box-shadow: 10px 5px 5px hsl(182, 63%, 38%);
}

@media (min-width: 40em) {
  .project-element {
    display: flex;
    margin: 4rem;
  }
  .project-image {
    width: 55%;
  }
}

/* ///////////// About //////////////// */
.about-container {
  background-color: white;
  height: 130vh;
  padding: 6rem 0;
  text-align: center;
  /* margin-bottom: 4rem; */
}

.about-container img {
  width: 80%;
  margin: 2rem 0;
}

@media (min-width: 40em) {
  .about-container {
    padding: 4rem;
    height: 80vh;
  }

  .about-elements {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    gap: 6rem;
  }

  .about-container p {
    max-width: 30rem;
  }

  .about-container img {
    width: 20%;
    margin-left: 10rem;
  }
}

/* /////////////// Contact //////////////// */

.contact {
  background-color: #02aab0;

  color: white;

  text-align: center;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 0.5rem;
}

.btn-contact {
  margin: 0.8rem 3rem;
}

@media (min-width: 40em) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }
  .inputs {
    width: 60%;
  }
  .btn-contact {
    margin: 0.8rem 12rem;
  }
}

/* //////////////// Footer ////////////////// */

.footer {
  background-color: #333;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

@media (min-width: 40em) {
  .footer {
    padding: 6rem;
    justify-content: center;
    gap: 2rem;
  }
}
